.playstation {
    height: 710px;
    width: 379px;
    border: 3px solid rgb(0, 115, 255);
    float: left
}

.xbox {
    height: 710px;
    width: 379px;
    border: 3px solid rgb(15, 223, 19);
    float: left
}

.nintendo {
    height: 710px;
    width: 379px;
    border: 3px solid rgb(255, 0, 0);
    float: left
}

.pc {
    height: 710px;
    width: 379px;
    border: 3px solid rgb(0, 0, 0);
    float: left
}

.playlogo {
    width: 150px;
}

.xboxlogo {
    width: 150px;

}

.nintendologo{
    width: 150px;

}

.pclogo{
    width: 150px;

}